<template name="company">
	<div class="box">
		
		<div class="heading-bar bg_cyan">
			Dashboard (Comapny)
	  	</div>
		<div class="t_content">
			<div class="row">
				<div class="col-md-1">Status</div>
				<div class="col-md-4">Destination</div>
				<div class="col-md-3">value</div>
				<div class="col-md-4">Reason</div>
			</div>
			{{#each history}}
				<div class="row">
					<div class="col-md-1">{{executed}}</div>
					<div class="col-md-4">{{destination}}</div>
					<div class="col-md-3">{{value}}</div>
					<div class="col-md-4">{{reason}}</div>
				</div>
			{{/each}}
			<br>
			<button class="confirm-button" id="new_request">
				Create New Request
			</button>

		</div>

	</div>
</template>